body
{
    line-height: 1;
	font-family: Arial, Helvetica, Sans-Serif;
	color:#666;
	font-size:12px;
}
input,
select,
option
{
	position:relative;
	height: 25px;
	line-height:25px;
    padding:0 0 0 5px;
    border:1px solid #ccc;
    color:#666;
    margin:0;
    z-index:0;
    transition: all 0.5s ease;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
input.value-set,
select.value-set
{
    transition: all 0.5s ease;
    height:32px;
    line-height:32px;
    padding:5px 0 0 5px;
    margin-top:-7px;
}
    select.value-set {
        padding:10px 0 0 5px;
    }
option
{
    padding:5px 0 0 5px;
    border:0;
    border-radius:0;
}
textarea
{
    transition: all 0.5s ease;
    padding:15px 8px 8px 8px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border:1px solid #ccc;
    color:#666;
}
.labelTabs
{
    color:#0a477b;
    font-weight:bold;
    font-size:12px;
    position:absolute;
    margin-top:15px;
    padding:2px 5px 1px 5px;
    border-bottom:0;
    transition: all 0.5s ease;
    z-index:1;
}
.labelTabs.value-set
{
    margin-top:6px;
    margin-left:2px;
    font-size:10px;
    padding:1px 8px 0px 2px;
    color: #B9C8D2;
    transition: all 0.3s ease;
}
